html {
    background-color: beige;
}

footer {background-color: burlywood;padding: 24px;}

body {margin: 0;}

header {
    padding: 24px;
}

.book-cover {
    height: auto; 
    width: 200px;
}

.main-page-book-review {
    background-color: white;
}

main {
    max-width: 800px; 
    margin: auto;
}